body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

    nav {

        background-color: bisque;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        input {

            margin: 5px;
            padding: 10px;
            border: none;
            border-radius: 5px;
            background-color: whitesmoke;

        }

        button {

            margin: 5px;
            padding: 10px;
            border: none;
            background-color: yellowgreen;
            border-radius: 5px;

        }

        button:hover {

            background-color: orange;
            cursor: pointer;

        }

    }

    main {

        

    }

}